.FormulaBox {
    text-align: left;
    border-color: rgb(184, 184, 184);
    border-bottom: 1px solid;
    position: relative;
}

.FormulaBoxSelected{
    text-align: left;
    border-color: white;
    background-color: aqua;
    border-bottom: 1px solid;
    position: relative;
}